.layout {
  :global(.backstage-layout) {
    --backstage-layout-header-color-background: #fff;
    --backstage-layout-footer-color-background: #fff;
    --backstage-layout-sider-color-background: #fff;
  }
}